page-chat-room {


	.user-img {
        position: absolute;
        border-radius: 45px;
        width: 45px;
        height: 45px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
	  }
	  
	  .ItemSpace {
		margin-top: 2px;
        margin-right: 2px;
        margin-bottom: 2px;
        margin-left: 2px;
      }
}
