<ion-header>
  <ion-navbar [hideBackButton]="true" color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Search Classifieds </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="appBackground">
  <ion-card>
    <ion-card-header>
      Search Classified
    </ion-card-header>
    <ion-card-content>

      <form [formGroup]="searchClassifiedForm">

        <ion-item>
          <ion-label>Type</ion-label>
          <ion-select formControlName="type">
            <ion-option value="findplayer">Find a Player</ion-option>
            <ion-option value="findteam">Find a Team</ion-option>
            <ion-option value="findopponent">Find a Opposition</ion-option>
            <ion-option value="groundavailablity">Ground Available</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Start Date</ion-label>
          <ion-datetime formControlName="startDate" displayFormat="MMM DD, YYYY HH:mm"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>End Date</ion-label>
          <ion-datetime formControlName="endDate" displayFormat="MMM DD, YYYY HH:mm"></ion-datetime>
        </ion-item>
        <button ion-button margin color="primary" type="submit" (click)="search()">
            Filter
  
          </button>

      </form>


    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let classified of classifieds">
    <ion-card-header>
      <ion-item>

        <p *ngIf="classified.type=='findplayer'">
            <ion-item>Find a Player</ion-item></p>
        <p *ngIf="classified.type=='findteam'">
            <ion-item>Find a Team</ion-item></p>
        <p *ngIf="classified.type=='findopponent'">
            <ion-item> Find a Opposition</ion-item></p>
        <p *ngIf="classified.type=='groundavailablity'">
            <ion-item> Ground Available</ion-item></p>



      </ion-item>
    </ion-card-header>
    <ion-card-content>
        <ion-item> {{classified.description}}</ion-item>
          <ion-item> {{classified.team?.teamname}}</ion-item>
          <p *ngIf="classified.classifiedTime!= null">
            <ion-item>{{classified?.classifiedTime | momentjs}}</ion-item>
            </p>
            <p *ngIf="classified.location!= null">
              <ion-item>{{classified.location?.name}}, {{classified.location?.address}}</ion-item>
              </p>
 

      <ion-row no-padding>

          <div *ngIf="classified?.user?.id== userDetails.user.id">
            <ion-col>
              <button ion-button color="secondary" icon-left clear small (click)="editClassified(classified)">
                  <ion-icon name="create"></ion-icon>
    
                Edit
    
              </button>
    
            </ion-col>
            <ion-col>
              <button ion-button color="secondary" icon-left clear small (click)="deleteClassified(classified)">
                  <ion-icon name="trash"></ion-icon>
                Delete
    
              </button>
            </ion-col>
    
    
    
          </div>
          <div *ngIf="classified.user?.id!= userDetails.user.id">
          <ion-col>
            <button ion-button color="secondary" icon-left clear small (click)="chatClassified(classified)">
                <ion-icon name="message"></ion-icon>
                Message
    
            </button>
          </ion-col>
        </div>
        </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-fab bottom right>
    <button ion-fab mini (click)="addClassified()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>