<!--
  Generated template for the PreviousMatchDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>News</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="appBackground">
  <ion-card>
    <ion-card-header>
      Add News
    </ion-card-header>
    <div *ngIf="news!=null && news.imgUrl!= null && news.imgUrl.length>0">
        <div class="images-wrapper">
          <div class="image-wrapper" *ngFor="let img of news.imgUrl">
            <ion-icon class="remove-image" name="close" (click)="delete(img)"></ion-icon>
            <div class="image" [style.background-image]="img.url.sanitized">
              <img src="{{img.url}}"/>
            </div>
          </div>
      
        </div>
    </div>
  
    <ion-card-content>
           <ion-list no-lines>
      
          <multi-image-upload [type]="type" [id]="news?.id"></multi-image-upload>
          <button ion-button block (click)="submit()" *ngIf="!multiImageUpload.isUploading && !uploadFinished&&!disabled">
              <ion-icon name="checkmark"></ion-icon>
              Upload
          </button>
          <button ion-button block (click)="cancel()" color="danger" *ngIf="multiImageUpload.isUploading && !uploadFinished&&!disabled">
              <ion-icon name="close"></ion-icon>
              Cancel
          </button>
         
                 <form [formGroup]="createNewsForm">

          <ion-item>
            <ion-label>Type</ion-label>
            <ion-select formControlName="type" >
              <ion-option value="Local">Local</ion-option>
              <ion-option value="International">International</ion-option>

            </ion-select>
          </ion-item>
          <ion-item>
              <ion-label floating>Title</ion-label>
              <ion-input formControlName="title" type="text"></ion-input>  </ion-item>
              <ion-item>
          
            <ion-label floating>Description</ion-label>
            <ion-textarea formControlName="article" type="text"></ion-textarea>  </ion-item>
            <ion-item>

              <ion-label>Date</ion-label>
              <ion-datetime formControlName="publishedAt" displayFormat="MMM DD, YYYY HH:mm" ></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label>Country</ion-label>
              <ion-select formControlName="location">
                <ion-option *ngFor="let key of locations" [value]="key.name">{{key.name}}</ion-option>
              </ion-select>
            </ion-item>
 
            <ion-item>
              <button ion-button color="secondary" icon-left clear small [disabled]="!createNewsForm.valid" (click)="addNews()">
                Save News

              </button>
            </ion-item>
        </form>

      </ion-list>
    </ion-card-content>
  </ion-card>
 
</ion-content>