<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Team Stats</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="appBackground">
    <ion-segment [(ngModel)]="tabsvalues">
        <ion-segment-button value="team">
          Team Stats
        </ion-segment-button>
        <ion-segment-button value="batting">
          Batting Stats
        </ion-segment-button>
        <ion-segment-button value="bowling">
            Bowling Stats
        </ion-segment-button>
        <ion-segment-button value="fielding">
              Fielding Stats
        </ion-segment-button>
      </ion-segment>
    
    <div [ngSwitch]="tabsvalues">
      <div *ngSwitchCase="'team'">
          <ion-item>
              <ion-label>Pick a Team</ion-label>
              <ion-select [(ngModel)]="selectedTeam" (ionChange)="teamSelected($event)">
                <ion-option *ngFor="let team of teams" [value]="team">{{team.teamname}}</ion-option>
              </ion-select>
          </ion-item>
          <ion-scroll scrollX="true" scrollY="true" direction="x" >
          
              <ion-item class="scrollcard" >
                  <ion-row text-center text-wrap >
                      <ion-col col-3 >Name</ion-col>
                      <ion-col col-1 >Played</ion-col>
                      <ion-col col-1>Won</ion-col>
                      <ion-col col-1 >Lost</ion-col>
                      <ion-col col-2 >No Result</ion-col>
                      <ion-col col-2 >Highest Total</ion-col>                  
                     </ion-row>
                </ion-item>
              <br>
            

                <ion-item  class="scrollcard" *ngFor="let stat of statsArray">
                  <ion-row text-center text-wrap >
                      <ion-col col-3>{{stat.name}}</ion-col>
                    <ion-col col-1>{{stat.statistics.played}}</ion-col>
                    <ion-col col-1>{{stat.statistics.won}}</ion-col>
                    <ion-col col-1 >{{stat.statistics.lost}}</ion-col>
                    <ion-col col-2 >{{stat.statistics.abandoned}}</ion-col>
                    <ion-col col-2>{{stat.statistics.highestTotal}}</ion-col>
                    
                  </ion-row>
                </ion-item>
                </ion-scroll>
          
      </div>
    
      <div *ngSwitchCase="'batting'">
          <ion-item>
              <ion-label>Pick a Team</ion-label>
              <ion-select [(ngModel)]="selectedTeam" (ionChange)="teamSelected($event)">
                <ion-option *ngFor="let team of teams" [value]="team">{{team.teamname}}</ion-option>
              </ion-select>
          </ion-item>
         
          <ion-card *ngFor="let stat of statsArray">
                <ion-card-content> 
                    <h4>{{stat.name}}</h4>
                  <ion-scroll scrollX="true" scrollY="true" direction="x" >
                      
                    <ion-item class="scrollcard" >
                        <ion-row text-center text-wrap >
                            <ion-col col-3 >Name</ion-col>
                            <ion-col col-1 >M</ion-col>
                            <ion-col col-1>R</ion-col>
                            <ion-col col-1 >B</ion-col>
                            <ion-col col-2 >Av</ion-col>
                            <ion-col col-2 >Sr</ion-col>                  
                           </ion-row>
                      </ion-item>
                    <br>
                  
      
                      <ion-item  class="scrollcard" *ngFor="let player of stat.battingStatistics">
                        <ion-row text-center text-wrap >
                            <ion-col col-3>{{player.player.name}}</ion-col>
                          <ion-col col-1>{{player.matches}}</ion-col>
                          <ion-col col-1>{{player.run}}</ion-col>
                          <ion-col col-1 >{{player.ball}}</ion-col>
                          <ion-col col-2 >{{player.average | number : '1.2-2'}}</ion-col>
                          <ion-col col-2>{{player.sr | number : '1.2-2'}}</ion-col>
                          
                        </ion-row>
                      </ion-item>
                      </ion-scroll>
              
               </ion-card-content>
              </ion-card>
      </div>

      <div *ngSwitchCase="'bowling'">
          <ion-item>
              <ion-label>Pick a Team</ion-label>
              <ion-select [(ngModel)]="selectedTeam" (ionChange)="teamSelected($event)">
                <ion-option *ngFor="let team of teams" [value]="team">{{team.teamname}}</ion-option>
              </ion-select>
          </ion-item>
          
          <ion-card  *ngFor="let stat of statsArray">
                <ion-card-content>
              <div class="cric-stat-bowling-table">
                  <h4>{{stat.name}}</h4>
                  <ion-scroll scrollX="true" scrollY="true" direction="x" >
                    
                      <ion-item class="scrollcard" >
                          <ion-row text-center text-wrap >
                              <ion-col col-3 >Name</ion-col>
                              <ion-col col-1 >M</ion-col>
                              <ion-col col-1>O</ion-col>
                              <ion-col col-1 >R</ion-col>
                              <ion-col col-1 >W</ion-col>
                              <ion-col col-1 >wd</ion-col>
                              <ion-col col-2 >Ec</ion-col>                  
                             </ion-row>
                        </ion-item>
                      <br>
                    
        
                        <ion-item  class="scrollcard" *ngFor="let player of stat.bowlingStatistics">
                          <ion-row text-center text-wrap >
                              <ion-col col-3>{{player.player.name}}</ion-col>
                            <ion-col col-1>{{player.matches}}</ion-col>
                            <ion-col col-1>{{player.overs}}</ion-col>
                            <ion-col col-1 >{{player.run}}</ion-col>
                            <ion-col col-1 >{{player.wickets}}</ion-col>
                              <ion-col col-1 >{{player.wide}}</ion-col>
                            <ion-col col-2>{{player.economy | number : '1.2-2'}}</ion-col>
                            
                          </ion-row>
                        </ion-item>
                        </ion-scroll>
                  
               
                </div>
            </ion-card-content>
              </ion-card >
      </div>

        <div *ngSwitchCase="'fielding'">
            <ion-item>
                <ion-label>Pick a Team</ion-label>
                <ion-select [(ngModel)]="selectedTeam" (ionChange)="teamSelected($event)">
                  <ion-option *ngFor="let team of teams" [value]="team">{{team.teamname}}</ion-option>
                </ion-select>
            </ion-item>
            
            <ion-card *ngFor="let stat of statsArray">
                    <ion-card-content>
                        <h4>{{stat.name}}</h4>
                        <ion-scroll scrollX="true" scrollY="true" direction="x" >
                          
                            <ion-item class="scrollcard" >
                                <ion-row text-center text-wrap >
                                    <ion-col col-3 >Name</ion-col>
                                    <ion-col col-1 >Matches</ion-col>
                                    <ion-col col-1>Catches</ion-col>
                                    <ion-col col-1 >Run Out</ion-col>
                                    <ion-col col-1 >Stumpings</ion-col>
                                          
                                   </ion-row>
                              </ion-item>
                            <br>
                          
              
                              <ion-item  class="scrollcard" *ngFor="let player of stat.bowlingStatistics">
                                <ion-row text-center text-wrap >
                                    <ion-col col-3>{{player.player.name}}</ion-col>
                                  <ion-col col-1>{{player.matches}}</ion-col>
                                  <ion-col col-1>{{player.catches}}</ion-col>
                                  <ion-col col-1 >{{player.runOuts}}</ion-col>
                                  <ion-col col-1 >{{player.stumpings}}</ion-col>
                               
                                  
                                </ion-row>
                              </ion-item>
                              </ion-scroll>
                
                </ion-card-content>
                </ion-card>
        </div>

      </div> 

</ion-content>
