<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Team Stats</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<!--     
      <ion-segment [(ngModel)]="selectedRestaurantIdx" color="primary">
        <ion-segment-button (click)="changeMenus(i)" [value]="i" *ngFor="let team of teams; let i = index">
          {{team.teamname}}
        </ion-segment-button>
      </ion-segment>

      <div [ngSwitch]="selectedRestaurantIdx" *ngFor="let team of teams">
          <ion-list *ngSwitchCase="team[i]">
            <ion-item>
              <h2>{{team.teamname}}</h2>
            </ion-item>
          </ion-list>
        </div> -->

        <ion-item>
            <ion-label>Pick a Team</ion-label>
            <ion-select [(ngModel)]="selectedTeam" (ionChange)="teamSelected($event)">
              <ion-option *ngFor="let team of teams" [value]="team">{{team.teamname}}</ion-option>
            </ion-select>
        </ion-item>
        
        <ion-card *ngFor="let stat of statsArray">
            
              <ion-card-header>
                  {{stat.name}}
              </ion-card-header>
            
              <ion-card-content>
                <ion-item>
                    <ion-label>Played- {{stat.statistics.played}}</ion-label>
                    
                  </ion-item>
                <ion-item>
                  <ion-label>Won -  {{stat.statistics.won}}</ion-label>
                 
                </ion-item>
                <ion-item>
                    <ion-label>Lost - {{stat.statistics.lost}}</ion-label>
                    
                 </ion-item>
                <ion-item>
                  <ion-label>Abandoned - {{stat.statistics.abandoned}}</ion-label>
                  
                </ion-item>
                <ion-item>
                    <ion-label>Highest Total - {{stat.statistics.highestTotal}}</ion-label>
                    
                </ion-item>
                <ion-item>
                      <ion-label>Lowest Total - {{stat.statistics.lowestTotal}}</ion-label>
                      
                </ion-item>
              </ion-card-content>
            
            </ion-card>

</ion-content>
