page-list {
    .scrollcard {
        width: 750px !important;
        display: inline-block;
        
      }

      ion-scroll {
        min-height: 300px; 
        height: auto;
        white-space:normal;
            .scroll-content {
            padding: 0px !important;
            white-space:normal;
        }    
      }
}
