<!--
  Generated template for the PreviousMatchesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Completed Matches</ion-title>
      </ion-navbar>
</ion-header>


<ion-content padding class="appBackground">
    <ion-card>
        <ion-card-header>
          Search Matches
        </ion-card-header>
        <ion-card-content>
          
        <form [formGroup]="searchMatchesForm">
     
            <ion-item>
                <ion-label>Team</ion-label>
                <ion-select formControlName="teamId"  >
                  <ion-option *ngFor="let key of teams" [value]="key.id">{{key.teamname}}</ion-option>
                </ion-select>
              </ion-item>
              <ion-item>
                  <ion-label>Tournament</ion-label>
                  <ion-select formControlName="tournamentId"  >
                    <ion-option *ngFor="let key of tournaments" [value]="key.id">{{key.name}}</ion-option>
                  </ion-select>
                </ion-item>
                <button ion-button margin color="primary" type="submit" (click)="search()">
                    Filter
          
                  </button>
     
        </form>
      
    
    </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let match of matches">
        <ion-card-header text-wrap>
            <b><h1>{{match.team.teamname}} versus
                {{match.opponent}}</h1></b>
                <p>{{match.tournament?.name}}</p>
        </ion-card-header>
        <ion-card-content>
            <p><b>{{match.matchTime | momentjs}}</b></p>
            <p></p>
            <p><b>{{match.location?.name}}</b>, {{match.location?.address}} <ion-icon name="locate" color="primary" item-right (click)='viewLocation(match.location)'></ion-icon></p>
              <p><b>Toss :</b><span *ngIf="match.tossWon">{{match.team.teamname}}</span><span *ngIf="!match.tossWon">{{match.opponent}}</span>
          <p><b>Result :</b> {{match.result}}, {{match.remarks}}</p>
          <p><b>{{match.team.teamname}}:</b>{{match.score}}/{{match.wickets}}</p>
          <p><b>{{match.opponent}}:</b>{{match.oppositionScore}}/{{match.oppositionWickets}}</p>
        </ion-card-content>
		 <button ion-button icon-left clear small (click)="goToMatchTeam(match.id)">
            <ion-icon name="text"></ion-icon>
            <div>Match Team</div>
          </button>
        <button ion-button icon-left clear small (click)="goToMatchDetails(match.id)">
            <ion-icon name="text"></ion-icon>
            <div>Match Details</div>
          </button>
      </ion-card>
    </ion-content>
