<!--
  Generated template for the MyProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Career</ion-title>
      </ion-navbar>
</ion-header>


<ion-content padding class="appBackground">
    <ion-item class="header"> 
    <h1><b>{{statsArray[0]?.stats.battingStatistics?.player.name}}</b></h1>
  </ion-item>
       <ion-item class="header">
     Batting stats  
    </ion-item>
    <br>
    <ion-scroll scrollX="true" direction="x">
        <ion-item class="scrollcardheader">
            <ion-row text-center text-wrap  class="header">
                <ion-col col-1 >M</ion-col>
                <ion-col col-1>I</ion-col>
                <ion-col col-2 >R</ion-col>
                <ion-col col-2 >B</ion-col>
                <ion-col col-2 >Av</ion-col>
                <ion-col col-2 >Sr</ion-col>
               </ion-row>
          </ion-item>
        <br>
          <ion-item  class="scrollcardheader">
            <ion-row text-center text-wrap >
              <ion-col col-1>{{battingStats.matches}}</ion-col>
              <ion-col col-1>{{battingStats.innings}}</ion-col>
              <ion-col col-2 >{{battingStats.run}}</ion-col>
              <ion-col col-2 >{{battingStats.ball}}</ion-col>
              <ion-col col-2 >{{battingStats.average | number : '1.2-2'}}</ion-col>
              <ion-col col-2 >{{battingStats.sr | number : '1.2-2'}}</ion-col>
            </ion-row>
          </ion-item>
          <br>   
          <ion-item class="header">
              Bowling stats  
             </ion-item>  
              
             <br> 
                <ion-item class="scrollcardheader">
              <ion-row text-center text-wrap  class="header">
                  <ion-col col-1 >M</ion-col>
                  <ion-col col-2 >O</ion-col>
                  <ion-col col-1 >M</ion-col>
                  <ion-col col-2 >R</ion-col>
                  <ion-col col-1 >W</ion-col>
                  <ion-col col-1 >wd</ion-col>
                  <ion-col col-2 >Ec</ion-col>
                  </ion-row>
            </ion-item>
            <br>
            <ion-item  class="scrollcardheader">
              <ion-row text-center text-wrap >
                <ion-col col-1 >{{bowlingStats.matches}}</ion-col>
                <ion-col col-2>{{bowlingStats.overs}}</ion-col>
                <ion-col col-1 >{{bowlingStats.maiden}}</ion-col>
                <ion-col col-2 >{{bowlingStats.run}}</ion-col>
                <ion-col col-1 >{{bowlingStats.wickets}}</ion-col>
                <ion-col col-1 >{{bowlingStats.wide}}</ion-col>
                <ion-col col-2 >{{bowlingStats.economy | number : '1.2-2'}}</ion-col>
              </ion-row>
            </ion-item>
          </ion-scroll>


            <br>
            
    <button ion-button full class="mainbutton" (click)="analysis()">Analysis</button> 
    
            <br>
              <ion-item>
        <ion-label>Pick a Team</ion-label>
        <ion-select [(ngModel)]="selectedTeam" (ionChange)="teamSelected($event)">
          <ion-option *ngFor="let team of teams" [value]="team">{{team.teamname}}</ion-option>
        </ion-select>
    </ion-item>


  
  <ion-segment [(ngModel)]="tabsvalues">
      <ion-segment-button value="batting">
        Batting
      </ion-segment-button>
      <ion-segment-button value="bowling">
          Bowling
      </ion-segment-button>
      <ion-segment-button value="fielding">
            Fielding
      </ion-segment-button>
    </ion-segment>
  
  <div [ngSwitch]="tabsvalues"> 
    <div *ngSwitchCase="'batting'">
    <ion-card>
  <ion-card-header class="header">
      <b>Batting</b>
  </ion-card-header>
 <ion-card-content>
        <div class="cric-stat-batting-table">
            <ion-scroll scrollX="true" scrollY="true" direction="x">
                <ion-item class="scrollcard">
                    <ion-row text-center text-wrap class="header">
                         <ion-col col-3 >Tournament</ion-col>
                        <ion-col col-1 >M</ion-col>
                        <ion-col col-1>I</ion-col>
                        <ion-col col-1 >R</ion-col>
                        <ion-col col-1 >B</ion-col>
                        <ion-col col-2 >Av</ion-col>
                        <ion-col col-2 >Sr</ion-col>
                       </ion-row>
                  </ion-item>
                  <br>
                  <ion-item   class="scrollcard">
                    <ion-row *ngFor="let tournament of statsArray" text-center text-wrap >
                        <ion-col col-3>{{tournament?.name}}</ion-col>
                      <ion-col col-1>{{tournament.stats.battingStatistics?.matches}}</ion-col>
                      <ion-col col-1>{{tournament.stats.battingStatistics?.innings}}</ion-col>
                      <ion-col col-1 >{{tournament.stats.battingStatistics?.run}}</ion-col>
                      <ion-col col-1 >{{tournament.stats.battingStatistics?.ball}}</ion-col>
                      <ion-col col-2 >{{tournament.stats.battingStatistics?.average | number : '1.2-2'}}</ion-col>
                      <ion-col col-2 >{{tournament.stats.battingStatistics?.sr | number : '1.2-2'}}</ion-col>
                    </ion-row>
                    <br>
                  </ion-item>
                </ion-scroll>
            
          </div>
        </ion-card-content>
      </ion-card>
        </div>

    <div *ngSwitchCase="'bowling'">
     <ion-card>
  <ion-card-header class="header">
  <b>Bowling</b>
  </ion-card-header>
 <ion-card-content>
        <div class="cric-stat-bowling-table">
            <ion-scroll scrollX="true" scrollY="true" direction="x">
                <ion-item class="scrollcard">
                    <ion-row text-center text-wrap class="header" >
                        <ion-col col-3 >Tournament</ion-col>
                        <ion-col col-1 >M</ion-col>
                        <ion-col col-1 >O</ion-col>
                        <ion-col col-1 >M</ion-col>
                        <ion-col col-1 >R</ion-col>
                        <ion-col col-1 >W</ion-col>
                        <ion-col col-1 >wd</ion-col>
                        <ion-col col-2 >Ec</ion-col>
                        </ion-row>
                  </ion-item>
                  <br>
                  <ion-item   class="scrollcard">
                    <ion-row  *ngFor="let tournament of statsArray" text-center text-wrap >
                        <ion-col col-3>{{tournament?.name}}</ion-col>
                     
                      <ion-col col-1 >{{tournament.stats.bowlingStatistics?.matches}}</ion-col>
                      <ion-col col-1>{{tournament.stats.bowlingStatistics?.overs}}</ion-col>
                      <ion-col col-1 >{{tournament.stats.bowlingStatistics?.maiden}}</ion-col>
                      <ion-col col-1 >{{tournament.stats.bowlingStatistics?.run}}</ion-col>
                      <ion-col col-1 >{{tournament.stats.bowlingStatistics?.wickets}}</ion-col>
                      <ion-col col-1 >{{tournament.stats.bowlingStatistics?.wide}}</ion-col>
                      <ion-col col-2 >{{tournament.stats.bowlingStatistics?.economy | number : '1.2-2'}}</ion-col>
                    </ion-row>
                    <br>
                  </ion-item>
                </ion-scroll>
          </div>
           </ion-card-content>
			  </ion-card>
    </div>

      <div *ngSwitchCase="'fielding'">
         <ion-card>
  <ion-card-header class="header">
      <b>Fielding</b>
  </ion-card-header>
 <ion-card-content>
          <div class="cric-stat-bowling-table">

              <ion-scroll scrollX="true" scrollY="true" direction="x">
                  <ion-item class="scrollcard">
                      <ion-row text-center text-wrap class="header" >
                          <ion-col col-3 >Tournament</ion-col>
                          <ion-col col-1 >M</ion-col>
                          <ion-col col-1 >Ct</ion-col>
                          <ion-col col-1 >R/O</ion-col>
                          <ion-col col-1 >St</ion-col>
                    
                          </ion-row>
                    </ion-item>
                    <br>
                    <ion-item   class="scrollcard">
                      <ion-row *ngFor="let tournament of statsArray" text-center text-wrap >
                          <ion-col col-3>{{tournament?.name}}</ion-col>
                       
                        <ion-col col-1 >{{tournament.stats.bowlingStatistics?.matches}}</ion-col>
                        <ion-col col-1>{{tournament.stats.bowlingStatistics?.catches}}</ion-col>
                        <ion-col col-1 >{{tournament.stats.bowlingStatistics?.runOuts}}</ion-col>
                        <ion-col col-1 >{{tournament.stats.bowlingStatistics?.stumpings}}</ion-col>
                        </ion-row>
                        <br>
                    </ion-item>
                  </ion-scroll>
            
            </div>
            </ion-card-content>
			  </ion-card>
      </div>

    </div>
 
</ion-content>
