<!--
  Generated template for the MyProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>My Profile</ion-title>
      </ion-navbar>
</ion-header>


<ion-content padding class="appBackground">
    <ion-item>
        <ion-label>Pick a Team</ion-label>
        <ion-select [(ngModel)]="selectedTeam" (ionChange)="teamSelected($event)">
          <ion-option *ngFor="let team of teams" [value]="team">{{team.teamname}}</ion-option>
        </ion-select>
    </ion-item>


  <h3>{{statsArray[0]?.stats.battingStatistics?.player.name}}</h3>
  <ion-segment [(ngModel)]="tabsvalues">
      <ion-segment-button value="batting">
        Batting Stats
      </ion-segment-button>
      <ion-segment-button value="bowling">
          Bowling Stats
      </ion-segment-button>
      <ion-segment-button value="fielding">
            Fielding Stats
      </ion-segment-button>
    </ion-segment>
  
  <div [ngSwitch]="tabsvalues"> 
    <div *ngSwitchCase="'batting'">
    <ion-card>
  <ion-card-header>
  Batting
  </ion-card-header>
 <ion-card-content>
        <div class="cric-stat-batting-table">
            <ul>
              <li class="header">
                  <p class="cric-player-name">Tournament</p>
                  <p>M</p>
                  <p>I</p>
                  <p>R</p>
                  <p>B</p>
                  <p class="cric-values-decimals">Av</p>
                  <p class="cric-values-decimals">SR</p>
              </li>
              <li *ngFor="let tournament of statsArray">
                  <p class="cric-player-name">{{tournament?.name}}</p>
                  <p>{{tournament.stats.battingStatistics?.matches}}</p>
                  <p>{{tournament.stats.battingStatistics?.innings}}</p>
                  <p>{{tournament.stats.battingStatistics?.run}}</p>
                  <p>{{tournament.stats.battingStatistics?.ball}}</p>
                  <p class="cric-values-decimals">{{tournament.stats.battingStatistics?.average | number : '1.2-2' }}</p>
                  <p class="cric-values-decimals">{{tournament.stats.battingStatistics?.sr | number : '1.2-2' }}</p>
              </li>
            </ul>
          </div>
            </ion-card-content>
			  </ion-card>
    </div>

    <div *ngSwitchCase="'bowling'">
     <ion-card>
  <ion-card-header>
  Bowling
  </ion-card-header>
 <ion-card-content>
        <div class="cric-stat-bowling-table">
            <ul>
              <li class="header">
                  <p class="cric-player-name">Tournament</p>
                  <p>M</p>
                  <p>O</p>
                  <p>R</p>
                  <p>W</p>
                  <p>Wd</p>
                  <p class="cric-values-decimals">EC</p>
              </li>
              <li *ngFor="let tournament of statsArray">
                  <p class="cric-player-name">{{tournament?.name}}</p>
                  <p>{{tournament.stats.bowlingStatistics?.matches}}</p>
                  <p>{{tournament.stats.bowlingStatistics?.overs}}</p>
                  <p>{{tournament.stats.bowlingStatistics?.run}}</p>
                  <p>{{tournament.stats.bowlingStatistics?.wickets}}</p>
                  <p>{{tournament.stats.bowlingStatistics?.wide}}</p>
                  <p class="cric-values-decimals">{{tournament.stats.bowlingStatistics?.economy | number : '1.2-2'}}</p>
              </li>
            </ul>
          </div>
           </ion-card-content>
			  </ion-card>
    </div>

      <div *ngSwitchCase="'fielding'">
         <ion-card>
  <ion-card-header>
  Fielding
  </ion-card-header>
 <ion-card-content>
          <div class="cric-stat-bowling-table">
              <ul>
                <li class="header">
                    <p class="cric-player-name">Tournament</p>
                    <p>M</p>
                    <p>Ct</p>
                    <p>R/O</p>
                    <p>St</p>
                </li>
                <li *ngFor="let tournament of statsArray">
                    <p class="cric-player-name">{{tournament?.name}}</p>
                    <p>{{tournament.stats.bowlingStatistics?.matches}}</p>
                    <p>{{tournament.stats.bowlingStatistics?.catches}}</p>
                    <p>{{tournament.stats.bowlingStatistics?.runOuts}}</p>
                    <p>{{tournament.stats.bowlingStatistics?.stumpings}}</p>
                </li>
              </ul>
            </div>
            </ion-card-content>
			  </ion-card>
      </div>

    </div> 
</ion-content>
