<ion-header>
  <ion-navbar [hideBackButton]="true" color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Upcoming Matches </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="appBackground">
    <ion-card>
        <ion-card-header>
          Search Matches
        </ion-card-header>
        <ion-card-content>
          
        <form [formGroup]="searchMatchesForm">
     
            <ion-item>
                <ion-label>Team</ion-label>
                <ion-select formControlName="teamId"  >
                  <ion-option *ngFor="let key of teams" [value]="key.id">{{key.teamname}}</ion-option>
                </ion-select>
              </ion-item>
              <ion-item>
                  <ion-label>Tournament</ion-label>
                  <ion-select formControlName="tournamentId"  >
                    <ion-option *ngFor="let key of tournaments" [value]="key.id">{{key.name}}</ion-option>
                  </ion-select>
                </ion-item>
                <button ion-button margin color="primary" type="submit" (click)="search()">
                    Filter
          
                  </button>
     
        </form>
      
    
    </ion-card-content>
    </ion-card>
  <ion-card *ngFor="let match of matches">
    <ion-card-header text-wrap>
      <b><h1>{{match.match.team.teamname}} versus
      {{match.match.opponent}}</h1></b>
      <p>{{match.match.tournament?.name}}</p>
    </ion-card-header>
    <ion-card-content>
        <p><b>{{match.match.matchTime | momentjs}}</b></p>
        <p></p>
      <p>{{match.match.location?.name}}, {{match.match.location?.address}} <ion-icon name="locate" color="primary" item-right (click)='viewLocation(match.match.location)'></ion-icon></p>
	  
         <ion-label>
          Select Attendance
        </ion-label>
		
		   <ion-item>
      <ion-select [(ngModel)]="match.status" (ionChange)="availabilitySelected($event, match)">
          <ion-option value="0">Not Provided</ion-option>
        <ion-option value="1">IN</ion-option>
        <ion-option value="2">OUT</ion-option>
        <ion-option value="3">Waitlist</ion-option>
      </ion-select>
	 
    </ion-item>
	
      <ion-item>
	  
	      <ion-label floating>Comments</ion-label>
    <ion-input [(ngModel)]="match.comments"></ion-input>
   </ion-item>
   <ion-item>
   <button ion-button icon-left (click)="availabilitySelected($event, match)">
      <ion-icon name="save"></ion-icon>
      <div>Save Comment</div>
    </button>
  </ion-item>
	 <button ion-button icon-left clear small (click)="goToMatchTeam(match.id)">
            <ion-icon name="text"></ion-icon>
            <div>Match Team</div>
          </button>
    </ion-card-content>
  </ion-card>
</ion-content>
