<ion-header>
  <ion-navbar [hideBackButton]="true" color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Upcoming Matches </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="appBackground">
    <ion-card>
        <ion-card-header>
          Search Matches
        </ion-card-header>
        <ion-card-content>
          
        <form [formGroup]="searchMatchesForm">
     
            <ion-item>
                <ion-label>Team</ion-label>
                <ion-select formControlName="teamId"  >
                  <ion-option *ngFor="let key of teams" [value]="key.id">{{key.teamname}}</ion-option>
                </ion-select>
              </ion-item>
              <ion-item>
                  <ion-label>Tournament</ion-label>
                  <ion-select formControlName="tournamentId"  >
                    <ion-option *ngFor="let key of tournaments" [value]="key.id">{{key.name}}</ion-option>
                  </ion-select>
                </ion-item>
     <button ion-button color="secondary" icon-left clear small (click)="search()">
                Filter
                
              </button>
     
        </form>
      
    
    </ion-card-content>
    </ion-card>
  <ion-card *ngFor="let match of matches" class="cric-match-card">
    <ion-card-header text-wrap>
      <b><h1>{{match.match.team.teamname}} versus
      {{match.match.opponent}}</h1></b>
      <p>{{match.match.tournament?.name}}</p>
    </ion-card-header>
    <ion-card-content>
        <p><b>{{match.match.matchTime | momentjs}}</b></p>
      <p>{{match.match.location?.name}}, {{match.match.location?.address}}</p>

      <ion-item class="cric-float-left cric-no-left-pad">
        <ion-label class="cric-float-left">
          Select Attendance
        </ion-label>
		
		   
      <ion-select class="cric-half-width" [(ngModel)]="match.status" (ionChange)="availabilitySelected($event, match)">
          <ion-option value="0">Not Provided</ion-option>
        <ion-option value="1">IN</ion-option>
        <ion-option value="2">OUT</ion-option>
        <ion-option value="3">Waitlist</ion-option>
      </ion-select>
	 
    </ion-item>
	
      <ion-item class="cric-no-left-pad">
	  
	      <ion-label floating>Comments</ion-label>
    <ion-input [(ngModel)]="match.comments" (ionChange)="availabilitySelected($event, match)"></ion-input>
	 </ion-item>
	 <button ion-button icon-left clear small (click)="goToMatchTeam(match.id)">
            <ion-icon name="text"></ion-icon>
            <div>Match Team</div>
          </button>
    </ion-card-content>
  </ion-card>
</ion-content>
