<ion-header>
    
        <ion-navbar color="primary">
            <ion-title>Product</ion-title>
          </ion-navbar>
   
</ion-header>

<ion-content padding class="appBackground">
  <ion-card>
    <ion-card-header>
      Search Product
    </ion-card-header>
    <ion-card-content>

      <form [formGroup]="searchProductForm">
        <ion-item>
          <ion-label floating>Name</ion-label>
          <ion-input formControlName="title" type="text"></ion-input>  </ion-item>
          
        <ion-item>
          <ion-label>Start Date</ion-label>
          <ion-datetime formControlName="startDate" displayFormat="MMM DD, YYYY HH:mm"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>End Date</ion-label>
          <ion-datetime formControlName="endDate" displayFormat="MMM DD, YYYY HH:mm"></ion-datetime>
        </ion-item>
        <button ion-button clear color="primary" type="submit" (click)="search()">
            Filter
  
          </button>

      </form>


    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let product of products">
    <ion-card-header>
      <ion-item text-center text-wrap>

      
           <h2><b>{{product.title}}</b></h2>
       
           <p *ngIf="product.publishedAt!= null">
              <ion-item>{{product?.publishedAt | momentjs}}</ion-item>
              </p>


      </ion-item>
    </ion-card-header>
    <div class="header-banner">
    <p *ngIf= "product.imgUrl!= null && product.imgUrl.length>0" >
        <ion-slides autoplay="5000" loop="true" speed="3000">
            <ion-slide *ngFor="let slide of product.imgUrl">
              <img src="{{slide.url}}" />
            </ion-slide>
          </ion-slides>
      
      </p>
      <p *ngIf= "product.imgUrl== null || product.imgUrl.length==0" ><img src="assets/img/noimage.png" /></p>
                
    </div>
    <ion-card-content>
        
              
        <ion-item> {{product.description}}</ion-item>
         
        <ion-item>${{product.price}}</ion-item>
            
            <ion-row no-padding>

              <div *ngIf="product?.user?.id== userDetails.user.id">
                <ion-col>
                  <button ion-button color="secondary" icon-left clear small (click)="editProduct(product)">
                      <ion-icon name="create"></ion-icon>
        
                    Edit
        
                  </button>
        
                </ion-col>
                <ion-col>
                  <button ion-button color="secondary" icon-left clear small (click)="deleteProduct(product)">
                      <ion-icon name="trash"></ion-icon>
                    Delete
        
                  </button>
                </ion-col>
        
        
        
              </div>
              <div >
                  <ion-col>
                    <button ion-button color="secondary" icon-left clear small (click)="viewProduct(product)">
                        <ion-icon name="eye"></ion-icon>
                        View
            
                    </button>
                  </ion-col>
                </div>
             <div *ngIf="product.user?.id!= userDetails.user.id">
              <ion-col>
                <button ion-button color="secondary" icon-left clear small (click)="chatProduct(product)">
                    <ion-icon name="message"></ion-icon>
                    Message
        
                </button>
              </ion-col>
            </div>
            </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-fab bottom right>
    <button ion-fab mini (click)="addProduct()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>