// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.cric-cards{
    float: left;
    margin-right:5px; 
}

.cric-player-card{
    margin: 0px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.cric-player-card .card-header{
    padding: 5px;
}

ion-select{
    max-width: 90% !important;
}
.cric-stat-batting-table{
    float: left;
    width: 100%;
    h4{
        font-size: 1.5rem;
        margin: 1rem 0rem 0rem 0rem !important;
    }
    ul{
        list-style: none;
        padding: 0px;
        margin: 0rem;
        li.header{
            background: #eee;
            p{
                font-weight: bold;
            }
        }
        li{
            list-style: none;
            padding: 0px;
            width: 100%;
            float: left;
            border-bottom: 1px solid #eee;
            p{
                width: 7%;
                float: left;
                margin-right: 3px;
                margin: 3px 3px 3px 0px;
            }
            p.cric-player-name{
                width: 40%;
            }
            p.cric-values-decimals{
                width: 12%;
            }
        }
    }
}
.login-background {
  background: url("../assets/img/cricket2.jpg") no-repeat fixed center;
  background-size: cover;
  
}
.appBackground {
  background: url("../assets/img/cricket2.jpg") no-repeat fixed center;
  background-size: cover;
  
}

.cric-stat-bowling-table{
    float: left;
    width: 100%;
    h4{
        font-size: 1.5rem;
        margin: 1rem 0rem 0rem 0rem !important;
    }
    ul{
        list-style: none;
        padding: 0px;
        margin: 0rem;
        li.header{
            background: #eee;
            p{
                font-weight: bold;
            }
        }
        li{
            list-style: none;
            padding: 0px;
            width: 100%;
            float: left;
            border-bottom: 1px solid #eee;
            p{
                width: 8%;
                float: left;
                margin-right: 3px;
                margin: 3px 3px 3px 0px;
            }
            p.cric-player-name{
                width: 40%;
            }
        }
    }
}