<ion-header>
    <ion-navbar color="primary">
        <ion-title>News</ion-title>
      </ion-navbar>
</ion-header>

<ion-content padding class="appBackground">
  <ion-card>
    <ion-card-header>
      News
    </ion-card-header>
    <ion-card-content>

<!--       <form [formGroup]="searchNewsForm">

        <ion-item>
          <ion-label>Type</ion-label>
          <ion-select formControlName="type">
            <ion-option value="Local">Local</ion-option>
            <ion-option value="International">International</ion-option>

          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Start Date</ion-label>
          <ion-datetime formControlName="startDate" displayFormat="MMM DD, YYYY HH:mm"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>End Date</ion-label>
          <ion-datetime formControlName="endDate" displayFormat="MMM DD, YYYY HH:mm"></ion-datetime>
        </ion-item>
        <button ion-button margin color="primary" type="submit" (click)="search()">
            Filter
  
          </button>

      </form> -->


    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let news of newss">
    <div class="header-banner">
      <p *ngIf="news.imgUrl!= null && news.imgUrl.length>0">
        <ion-slides autoplay="5000" loop="true" speed="3000">
          <ion-slide *ngFor="let slide of news.imgUrl">
            <img src="{{slide.url}}" />
          </ion-slide>
        </ion-slides>

      </p>
      <p *ngIf="news.imgUrl== null || news.imgUrl.length==0">
        <img src="assets/img/noimage.png" />
      </p>

    </div>




    <ion-card-content  text-wrap>


      <h2 class="card-title">
       <b> {{news.title}}</b>
      </h2>



      <p *ngIf="news.publishedAt!= null">
        <ion-item>{{news?.publishedAt | momentjs}}</ion-item>
      </p>

    </ion-card-content>
    <ion-row no-padding>

      <div *ngIf="news?.user?.id== userDetails.user.id">
        <ion-col>
          <button ion-button color="secondary" icon-left clear small (click)="editNews(news)">
              <ion-icon name="create"></ion-icon>

            Edit

          </button>

        </ion-col>
        <ion-col>
          <button ion-button color="secondary" icon-left clear small (click)="deleteNews(news)">
              <ion-icon name="trash"></ion-icon>
            Delete

          </button>
        </ion-col>



      </div>
      <div>
      <ion-col>
        <button ion-button color="secondary" icon-left clear small (click)="viewNews(news)">
            <ion-icon name="eye"></ion-icon>
          View

        </button>
      </ion-col>
    </div>
    </ion-row>

  </ion-card>

  <ion-fab bottom right>
    <button ion-fab mini (click)="addNews()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>