page-welcome {
.my-label {
  font-size: 30px !important;
}

.mainbutton {
  color: #ffffff !important;
}

.scroll-zoom-wrapper {
  white-space: nowrap;
}

.scrollcard {
  min-height: 450px; 
  width: 350px !important;
  display: inline-block;
}

ion-scroll {
  min-height: 350px; 
  height: auto;

      .scroll-content {
      padding: 0px !important;
  }    
}
}
