<!--
  Generated template for the MyTeamsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Locations</ion-title>
      </ion-navbar>

</ion-header>


<ion-content padding class="appBackground">
  <ion-card *ngFor="let location of locations" color="primary" >
    <ion-card-header>
      {{location.name}}
	   </ion-card-header>
     <ion-row no-padding>

        <div *ngIf="location?.user?.id== userDetails.user.id"  >
          <ion-col>
            <button ion-button color="secondary" icon-left clear small (click)="editLocation(location)">
                <ion-icon name="create"></ion-icon>
  
              Manage
  
            </button>
  
          </ion-col>
  
  
        </div>
        <div>
        <ion-col>
          <button ion-button color="secondary" icon-left clear small (click)="view(location)">
              <ion-icon name="eye"></ion-icon>
            View
  
          </button>
        </ion-col>
      </div>
      </ion-row>
  </ion-card>
</ion-content>

<ion-fab bottom right>
    <button ion-fab mini (click)="createLocation()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>