<!--
  Generated template for the PreviousMatchDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Match Team Add</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="appBackground" >
    <ion-card> 
        <ion-card-content>
  <ion-segment [(ngModel)]="tabsvalues">
      <ion-segment-button value="summary">
        Team List
      </ion-segment-button>
     
    </ion-segment>
    
  <div [ngSwitch]="tabsvalues"> 
      <div *ngSwitchCase="'summary'">
        <div class="cric-stat-batting-table">
          <h4>Team</h4>
          <ol >
		  <li *ngFor="let stat of batting">
		  <ion-list>
  <ion-item-sliding>
    <ion-item>
      {{stat?.name}}
    </ion-item>
<ion-item-options side="right">
  <button ion-button (click)="delete(stat)">
    <ion-icon name="delete"></ion-icon>
    Delete
  </button>
</ion-item-options>
  </ion-item-sliding>
</ion-list>
              
            </li>
          </ol>

        </div>
       </div>
  </div>
      <form [formGroup]="addTeamForm">
  <ion-item>
  <ion-label>Player</ion-label>
  <ion-select formControlName="player">
    <ion-option *ngFor="let key of players" [value]="key">{{key.name}}</ion-option>
  </ion-select>
</ion-item>
 <button ion-button color="secondary" icon-left clear small [disabled]="!addTeamForm.valid" (click)="addPlayer()">
            Add Player
            
          </button>
    </form>
 
		  
		    <button ion-button color="secondary" icon-left clear small (click)="sendTeam()">
           Send Team List
            
          </button>
        </ion-card-content>
        </ion-card> 
</ion-content>
